
<ion-header>

  <ion-navbar>
    <ion-title>palestrantes</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button ion-button block color='light' (click)="onSave()"> 
    Atualizar
  </button>

  <button ion-button block color='danger'>
      Apagar
  </button>

  <!--

    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>

  <ion-list>
    <ion-item *ngFor="let item of data" (click)="itemTapped($event, item)">
      <ion-avatar item-start>
        <img src="http://www.mednesp2019.com.br/admin/uploads/{{ item.imagem }}">
      </ion-avatar>
      Nome: {{ item.nome }} <br>
      Origem: {{ item.origem }} <br>
      Profissão: {{ item.profissao }}
    </ion-item>
  </ion-list>

-->

<ion-list>
  <ion-item *ngFor="let palestrante of palestrantes">
   <!-- <ion-avatar item-start>
      <img src="http://www.mednesp2019.com.br/admin/uploads/{{ palestrante.imagem}}"> 
    </ion-avatar> -->
    Nome: {{ palestrante.nome }} <br>
    Origem: {{ palestrante.origem }} <br>
    Profissão: {{ palestrante.profissao }}
  </ion-item>
</ion-list>

</ion-content>


